<header>
    <nav class="header-nav">
      <a class="header-title" href="/">MyMovie</a>
      <ul>
        
        <li><a href="/books">Trending Movies</a></li>
        <li><a href="/books/map">Map Reduce</a></li>
        <li><a href="/books/new">Add Movie</a></li>
      </ul>
    </nav>
  </header>