<header>
    <nav class="header-nav">
      <a class="header-title" href="/">MyMovie</a>
      <ul>
        <li><a href="/movies/trend">Trending Movies</a></li>           
        <li><a href="/movies/new">Add Movie</a></li>
        <li><a href="/movies">Saved Movies</a></li>     
      </ul>
    </nav>
  </header>